<p id="notice"><%= notice %></p>
<div class="wrapper-product-show">

  <div class="container">
    <div class="row">

      <div class="col-md-3">
        <p>
          <strong>Name:</strong>
          <h1><%= @product.name %></h1>
        </p>

        <p>
          <strong>Price:</strong>
          <%= @product.price %>
        </p>

        <p>
          <strong>Label:</strong>
          <%= @product.music_label %>
        </p>

        <p>
          <strong>Release Date:</strong>
          <%= @product.release_date %>
        </p>
      </div>

      <div class="col-md-6">
        <%= image_tag( @product.image_url, class: "img-responsive img-show") %>
      </div>

      <div class="col-md-3">
        <p>
          <strong>Description:</strong>
          <%= @product.description %>
        </p>

        <p>Average Rating:
          <div class="rated" data-score="<%= @product.average_rating %>">
          </div>
        </p>
      </div>



    </div><!-- end row-->

    <div class="row">
      <div class="col-md-6">

        <%= render "new_comment" %>

        <%= render "comments" %>

        <%= link_to 'Edit', edit_product_path(@product) %> |
        <%= link_to 'Back', products_path %>
      </div>
    </div>



  </div><!-- end container-->











</div>
