<p id="notice"><%= notice %></p>
<div class="wrapper-product-show">

  <div class="container">
    <div class="row">

      <!-- Left Card-->
      <div class="col-md-3">
        <p>

          <h5><%= @product.name %></h5>
        </p>
        <p>
          <div id="#average-rating" class="rated" data-score="<%= @product.average_rating %>">
          </div>
        </p>
        <p class="product-description">
          <%= @product.description %>
        </p>


      </div>


      <!-- Image-->
      <div class="col-md-6">

        <% begin %>
          <%= image_tag(
            @product.image_url,
            class: "img-responsive img-show",
            id: "zoom_07",
            data_zoom_image: "@product.image_url"
          )%>

        <% rescue => e %>
          <%= image_tag(
            "the-mauskovic-dance-band-down-in-the-basement-crop-c0-5__0-5-600x600-70.jpg",
            class: "img-responsive"
          ) %>
        <% end %>
      </div>

      <!-- Right Card-->
      <div class="col-md-3 pull-right">

        <div class="right-card-wrapper">
          <p class="section">
            <p class="label">Price:</p>
            <%= @product.price %> €
          </p>

          <p class="section">
            <p class="label">Label:</p>
            <%= @product.music_label %>
          </p>

          <p class="section">
            <p class="label">Release Date:</p>
            <%= @product.release_date %>
          </p>

          <!-- Payment Button -->
          <%= form_with(url: '/payments/create') do |form| %>
            <%= render partial: "shared/stripe_checkout_button" %>
            <%= hidden_field_tag(:product_id, @product.id) %>
          <% end %>

        </div>
      </div>



    </div><!-- end row-->

    <div class="row">
      <div class="col-md-6">

        <%= render "new_comment" %>

        <%= render "comments" %>


      </div>
    </div>

    <div class="row">
      <div class="col-md-6">

        <!-- render comments paginate-->
        <%= will_paginate @comments %>
      </div>
    </div>

    <% if signed_in? && current_user.admin? %>
      <div class="row">
        <div class="col-md-6">

          <%= link_to 'Edit', edit_product_path(@product) %> |
          <%= link_to 'Back', products_path %>

        </div>
      </div>
    <% end %>



  </div><!-- end container-->











</div>
